@{
    ViewBag.Title = "Home Page";
}

<h2>Type in some text..</h2>

@using (Html.BeginForm("Results", "Home"))
{
    <input type="text" name="text" value=" " />
    <input type="submit" name="submit" value="submit" />
}

<hr />

<h2>...or upload from a file</h2>

@using (Html.BeginForm("FromFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}